fastapi
mangum
pydantic==2.9.2
langchain-core==0.3.12
langgraph==0.2.38
langchain==0.3.3
langchain-aws==0.2.2
langchain-community==0.3.2
boto3==1.35.43
langchain-cli==0.0.31
colorama
python-dotenv>=1.0.0
faiss-cpu==1.7.4
numpy==1.24.3
starlette
guardrails-ai>=0.6.1